body, html, h1, h2 {
    margin: 0;
    padding: 60;
    height: 120%;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url(IMG/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgba(255, 255, 255, 0.982);
    line-height: 1.6;
}


nav {
    background-color: #ff0000;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav a:hover {
    background-color: #000000;
}

footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.Mapa {
    align:right;
    height: 10%;
    width: 20%;
    border:2px, solid;
    margin: 50px;
    padding:2em;
}
