.principal {
    background-image: url("IMG/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 100px 200px 1fr;
}
